<%- include("./partials/header", {title: "Home"}) %> 
<%- include("./partials/navbar") %> 
<main>
    <section class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-md-8 post-list">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-outline-danger">Read More</a>
                    </div>
                </div>
                
            </div>

            <div class="col-md-3 latest">
                sdjhasdh
            </div>
        </div>
    </section>
</main>

<%- include("./partials/footer") %> 