@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.navbar {
  padding: 15px 7%;
  background-color: #2d4059;
  border-bottom: 3px solid #ea5455;
}

.navbar-brand,
.brand {
  font-size: 1.5rem;
  font-family: "Sriracha", cursive;
}

.brand {
  color: white;
  background-color: #2d4059;
  padding: 10px;
}

.brand h1 {
  font-size: 1.2em;
}

.nav-item {
  margin: 0 5px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

main {
  padding: 15px 7%;
}

.card {
  color: #1f2c3d;
  border-color: #2d4059;
}

.post-list .card {
  margin-bottom: 20px;
}

.btn-outline-danger:hover,
.btn-danger {
  background-color: #ea5455;
}

.post-show {
  padding: 5%;
  text-align: justify;
  color: #1f2c3d;
  background-color: #fff;
}

.post-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.post-buttons .btn {
  margin-right: 10px;
}

.login {
  height: 100vh;
}

.login-form {
  padding: 60px;
}

.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.details {
  padding: 3% 0;
}

.footer {
  margin-top: auto;
  padding: 50px;
  color: white;
  text-align: center;
  border-top: 3px solid #ea5455;
  background-color: #2d4059;
}

.footer a {
  color: white;
  text-decoration: none;
}
